body {
  font-family: 'Times New Roman', Times, serif;
  background-image: url('https://images5.alphacoders.com/711/711655.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}